[Desktop Entry]
Name=BeeRef
Comment=BeeRef 0.3.0-dev
Terminal=false
Exec=beeref
Icon=beeref
Type=Application
Name[en_US]=BeeRef

MimeType=application/x-beeref;
Categories=Qt;KDE;Graphics;
X-KDE-NativeMimeType=application/x-beeref
X-KDE-ExtraNativeMimeTypes=
